<div class='container'>
  <div class="row">
    <div class="col-md-12">
      <div class="search-filters">
        <div class="btn-group" role="group" aria-label="...">
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("date")'>
            Date
          </label>
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("cat")'>
            Category
          </label>
        </div>
        <div class="btn-group" role="group" aria-label="...">
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("top")'>
            Top
          </label>
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("bot")'>
            Bot
          </label>
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("foot")'>
            Footwear
          </label>
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("fullbody")'>
            Fullbody
          </label>
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("bags")'>
            Bags
          </label>
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("head")'>
            head
          </label>
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("neck")'>
            neck
          </label>
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("eye")'>
            eye
          </label>
          <label type="button" class='btn btn-default' ng-click='collections.getCollections("accessories")'>
            Accessories
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="collection in collections.list" ng-show='_.where(loadedCollections, {id:collection.item.id}).length > 0'>
      <div class="show-box" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
        <div class="img-box">
          <a ng-click="collections.getItem(collection.item.id)">
            <img src={{collection.item.image.sizes.IPhone.url}}>
          </a>
        </div>
        <p>
          <small>{{collection.item.brand.name}}</small>
          <small ng-show='!collection.item.brand.name'>unbranded</small>
        </p>
        <p>
          {{collection.item.name}}
        </p>
        <h5>
          {{collection.item.price | currency}}
        </h5>
        <div class='show-box-hover' ng-class={'hide':!hover} ng-show='logged'>
          <div class='click-box' ng-click='collections.removeFromCollections(collection.item)'>
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id='item-modal' tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="item-modal-imgbox">
              <img src={{collections.coverImgUrl}}>
            </div>
          </div>
          <div class="col-md-6">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="fa fa-times fa-lg" aria-hidden="true"></i>
            </button>
            <h5>{{collections.item.brand.name}}</h5>
            <h4 class="modal-title" id={{collections.item.id}}>
              {{collections.item.brandedName}}
            </h4>
            <p ng-show='collections.item.inStock'>
              instock: yes
            </p>
            <p ng-show='!collections.item.inStock'>
              Out of Stock
            </p>
            <p>
              price: {{collections.item.price | currency}}
            </p>
            <div class='modal-descriptoin-box' ng-bind-html="collections.item.description"></div>
            <hr>
            <div class="item-modal-gallery">
              <a ng-click="collections.coverImgUrl=search.item.image.sizes.Best.url">
                <img src={{collections.item.image.sizes.Medium.url}} ng-mouseover='collections.coverImgUrl=collections.item.image.sizes.Best.url'>
              </a>
              <a ng-click="collections.coverImgUrl=img.sizes.Best.url" ng-repeat='img in collections.item.alternateImages'>
                <img src={{img.sizes.Medium.url}} ng-mouseover="collections.coverImgUrl=img.sizes.Best.url">
              </a>
            </div>
            <hr>
            <button type="button" class="btn btn-default" ng-click='collections.addToCollections(collections.item)' ng-show='logged && loadedCollections.indexOf(collections.item.id) == -1'>
              Add to My Collection <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-default" ng-click='collections.removeFromCollections(collections.item)' ng-show='logged && loadedCollections.indexOf(collections.item.id) > -1'>
              Remove from My Collection <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
            </button>
            <a href={{collections.item.clickUrl}} target='_blank' class='btn btn-default' role='button'>
              Buy at <strong>{{collections.item.retailer.name}}</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
