  <!-- <div ng-repeat="item in collections.list">
    {{item.date | date:'yyyy-MM-dd HH:mm'}}
    {{item.item.name}}
  </div> -->

  <div class='container'>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="collection in collections.list" ng-show='loadedCollections.indexOf(collection.item.id) > -1'>
        <div class="show-box" ng-mouseenter='hover=true' ng-mouseleave='hover=false'>
          <div class="img-box">
            <a ng-click="collections.productDetail(collection.item.id)">
              <img src={{collection.item.image.sizes.IPhone.url}}>
            </a>
          </div>
          <p>
            <small>{{collection.item.brand.name}}</small>
            <small ng-show='!collection.item.brand.name'>unbranded</small>
          </p>
          <p>
            {{collection.item.name}}
          </p>
          <h5>
            ${{collection.item.price}}
          </h5>
          <div class='show-box-hover' ng-class={'hide':!hover} ng-show='logged'>
            <div class="row">
              <div class="col-xs-12 text-center" ng-click='collections.removeFromCollections(collection.item)' >
                <h5><i class="fa fa-heart fa-lg" aria-hidden="true"></i></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" ng-class={'show':modal} id={{collection.item.id}} tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="row">
                  <div class="col-md-4">
                    <div class="pull-right" >
                      <img ng-init="imgUrl=collection.item.image.sizes.IPhone.url" src={{imgUrl}}>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h5>{{collection.item.brand.name}}</h5>
                    <h4 class="modal-title" id={{collection.item.id}}>{{collection.item.brandedName}}</h4>
                    <h5>{{collection.item.categories[0].name}}</h5>
                    <p>
                      instock: {{collection.item.inStock}}
                    </p>
                    <p>
                      price: ${{collection.item.price}}
                    </p>
                    <div class='modal-descriptoin-box' ng-bind-html="collection.item.description"></div>
                  </div>
                </div>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <span ng-repeat='img in collection.item.alternateImages'>
                      <a ng-click="$parent.imgUrl=img.sizes.IPhone.url">
                        <img src={{img.sizes.Medium.url}} height="100px" ng-mouseover="$parent.imgUrl=img.sizes.IPhone.url">
                      </a>
                    </span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button ng-click type="button" class="btn btn-default" ng-show='logged'>Add to My Collection</button>
                <a href={{collection.item.clickUrl}} target='_blank' class='btn btn-default' role='button'>
                  Buy at <strong>{{collection.item.retailer.name}}</strong>
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
