<form class="form" ng-submit="user.register()" ng-show='newUser'>
  <div class="form-group">
    <label for="newFirstName"></label>
    <input type="text" class="form-control" ng-model="newFirstName" name='newFirstName' placeholder='firstname'>
  </div>
  <div class="form-group">
    <label for="newLastName"></label>
    <input type="text" class="form-control" ng-model="newLastName" name='newLastName' placeholder='lastname'>
  </div>
  <div class="form-group">
    <label for="newEmail"></label>
    <input type="email" class="form-control" ng-model="newEmail" name='newEmail' placeholder='email'>
  </div>
  <div class="form-group">
    <label for="newPassword"></label>
    <input type="password" class="form-control" ng-model="newPassword" name='newPassword' placeholder='password'>
  </div>
  <button type="submit" name="button" class='btn btn-default'>Register</button>
  <a ng-click='newUser = false'>User Login</a>
</form>
