body {
  margin-top: 70px;
  background: rgb(230, 230, 230);
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
form input[type='text'] {
  border: 0px;
}
form input[type='text']:hover {
  box-shadow: 0 0 0 0;
}
form input[type='text']:active {
  box-shadow: 0 0 0 0;
}
form .input-group-addon {
  border: 0px;
}

a[ng-click]{
    cursor: pointer;
}
div[ng-click]{
    cursor: pointer;
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px;
}
.no-background {
  background-color: rgb(255, 255, 255);
}
.no-border {
  border: 0px;
}
.no-hover:hover {
  background-color: rgb(255, 255, 255);
}
.text-center {
  text-align: center;
}
.btn{
  border: 0px;
  border-radius: 0 0 0 0 ;
  background-color: rgb(255, 255, 255);
}
.btn:hover{
  background-color: rgb(245, 245, 245);
}

/*individual*/
.show-box {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.5 0.5 0.5 0.5 black;
  height: 350px;
}
.show-box p {
  height: 15px;
  line-height: 15px;
  overflow:hidden;
}
.show-box h5 {
  text-align: center;
}
.show-box-hover {
  position: absolute;
  right: 10px;
  top: 5px;
  vertical-align: middle;
}
.show-box-hover .click-box {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  z-index: 1000;
  border-radius: 25px 25px 25px 25px;
  background-color: rgba(200, 200, 200, 0.9);
}

.img-box {
  text-align: center;
  vertical-align: middle;
  height:250px;
  padding-bottom: 10px;
}
.img-box img{
  display: inline-block;
  vertical-align: middle;
  max-height:250px;
  max-width: 100%;
}

.modal-dialog {
  width: 85%;
  max-width: 1200px;
}

.modal-descriptoin-box {
  word-wrap: break-word;
  max-width: 95%;
}

.greeting-logo-box {
  margin-top: 30px;
  padding: 20px;
  background-color: rgb(255, 255, 255)
}

.greeting-logo-box .col-sm-1 {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:15px;
}

.greeting-logo-box img{
  width: 150%;
  margin-right: 30px;
}

.nav-show-list {
  padding: 5px;
}
.nav-show-list img {
  margin-left: 5px;
  height: 100%;
}

.btn-group {
  margin-bottom: 20px;
}

.search-filters .selected {
  background-color: rgb(255, 255, 255);
}
.search-filters .related {
  background-color: rgb(245, 245, 245);
}
.search-filters input {
  display: none;
}
.item-modal-imgbox {
  text-align: center;
}
.item-modal-imgbox img{
  max-width: 100%;
  max-height: 950px;
}
.item-modal-gallery img{
  max-width: 60px;
  max-height: 60px;
  margin: 5px;
}

.combinations {
  background-color: rgb(255, 255, 255);
}

#combox-wrapper {
  height: 900px;
  padding: 15px;
}

.combox {
  display: inline-block;
}

.combox-top-draggable {
  position: absolute;
  left: 350px;
}
.combox-bot-draggable {
  position: absolute;
  left: 350px;
  top: 350px;
}
.combox-fullbody-draggable {
  position: absolute;
  right: 15px;
  top: 15px;
}
.combox-foot-draggable {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.combox-head-draggable {
  position: absolute;
  left: 15px;
  top: 15px;
}
.combox-eye-draggable {
  position: absolute;
  left: 15px;
  top: 200px;
}
.combox-neck-draggable {
  position: absolute;
  left: 15px;
  top: 300px;
}
.combox-bags-draggable {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.combox img{
  width: 100%;
  z-index: 9999;
}
.combox-top {
  width: 200px;
}
.combox-bot {
  width: 200px;
}
.combox-head {
  width: 200px;
}
.combox-eye {
  width: 200px;
}
.combox-foot {
  width: 200px;
}
.combox-fullbody {
  width: 200px;
}
.combox-neck {
  width: 200px;
}
.combox-bags {
  width: 200px;
}


.comb-thumbs {
  background-color: rgb(255, 255, 255);
}

.comb-thumbs img {
  margin-bottom: 10px;
  max-height: 60px;
  max-width: 60px;
  background-color: rgb(255, 255, 255);
  opacity: 0.3;
}
.onshow img{
  opacity: 1;
}

div[ng-scrollable]{
}
