<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h3><small>Explore Fashion's Infinite Style.</small></h3>
      <div ng-controller="userController as user">
        <login></login>
        <register></register>
      </div>
    </div>
  </div>
</div>

<div class='container greeting-logo-box'>
  <div class="row text-center">

    <div class="col-sm-1">
      <img src="images/logo-neimanmarcus.jpeg" alt="" />
    </div>
    <div class="col-sm-1">
      <img src="images/logo-macys.jpg" alt="" />
    </div>
    <div class="col-sm-1">
      <img src="images/logo-nordstrom.jpg" alt="" />
    </div>
    <div class="col-sm-1">
      <img src="images/logo-bloomingdales.jpeg" alt="" />
    </div>
    <div class="col-sm-1">
      <img src="images/logo-anntaylor.png" alt="" />
    </div>
    <div class="col-sm-1">
      <img src="images/logo-jcrew.jpeg" alt="" />
    </div>
    <div class="col-sm-1">
      <img src="images/logo-saks.png" alt="" />
    </div>
    <div class="col-sm-1">
      <img src="images/logo-target.jpg" alt="" />
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 text-center'>
      <h5>
        <a ng-click='home.showRetailers();' ng-hide="home.showed">
          see all our retailers
        </a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class='col-sm-3' ng-repeat='retailer in home.retailers'>
      <a href='http://{{retailer.hostDomain}}' target="_blank">
        {{retailer.name}}
      </a>
    </span>
  </div>
</div>
