<div id='comb-canvas' class="container combinations" ng-controller="combinationsController as combinations">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div ng-init='combinations.queryHead = 0'>
            <h5>
              <a ng-click="last(combinations.head, 'head', combinations.queryHead)">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </a>
              <span>
                Head
                {{combinations.queryHead+1}} |
                {{combinations.head.length}}
              </span>
              <a ng-click="next(combinations.head, 'head', combinations.queryHead)">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </h5>
          </div>
          <div ng-scrollable="{scrollX:'none',scrollY:'right'}" style="width: 200px; height: 180px;">
            <div ng-repeat="item in combinations.head" ng-init='combinations.queryHead = 0'>
              <div ng-show="$index == combinations.queryHead">
                <div class="comb-head">
                  <img src={{item.item.image.sizes.Best.url}} >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-init='combinations.queryEye = 0'>
            <h5>
              <a ng-click="last(combinations.eye, 'eye', combinations.queryEye)">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </a>
              <span>
                Eyes
                {{combinations.queryEye+1}} |
                {{combinations.head.length}}
              </span>
              <a ng-click="next(combinations.eye, 'eye', combinations.queryEye)">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </h5>
          </div>
          <div ng-scrollable="{scrollX:'none',scrollY:'right'}" style="width: 200px; height: 180px;">
            <div ng-repeat="item in combinations.eye" ng-init='combinations.queryEye = 0'>
              <div ng-show="$index == combinations.queryEye">
                <div class="comb-head">
                  <img src={{item.item.image.sizes.Best.url}} >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-init='combinations.queryNeck = 0'>
            <h5>
              <a ng-click="last(combinations.neck, 'neck', combinations.queryNeck)">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </a>
              <span>
                Neck
                {{combinations.queryNeck+1}} |
                {{combinations.neck.length}}
              </span>
              <a ng-click="next(combinations.neck, 'neck', combinations.queryNeck)">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </h5>
          </div>
          <div ng-scrollable="{scrollX:'none',scrollY:'right'}" style="width: 200px; height: 300px;">
            <div ng-repeat="item in combinations.neck" ng-init='combinations.queryNeck = 0'>
              <div ng-show="$index == combinations.queryNeck">
                <div class="comb-head">
                  <img src={{item.item.image.sizes.Best.url}} >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div ng-init='combinations.queryBags = 0'>
            <h5>
              <a ng-click="last(combinations.bags, 'bags', combinations.queryBags)">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </a>
              <span>
                Bags
                {{combinations.queryBags+1}} |
                {{combinations.bags.length}}
              </span>
              <a ng-click="next(combinations.bags, 'bags', combinations.queryBags)">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </h5>
          </div>
          <div ng-scrollable="{scrollX:'none',scrollY:'right'}" style="width: 200px; height: 300px;">
            <div ng-repeat="item in combinations.bags" ng-init='combinations.queryBags = 0'>
              <div ng-show="$index == combinations.queryBags">
                <div class="comb-head">
                  <img src={{item.item.image.sizes.Best.url}} >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div ng-init='combinations.queryTop = 0'>
        <h5>
          <a ng-click="last(combinations.top, 'top', combinations.queryTop)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <span>
            Tops
            {{combinations.queryTop+1}} |
            {{combinations.top.length}}
          </span>
          <a ng-click="next(combinations.top, 'top', combinations.queryTop)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </h5>
      </div>
      <div ng-scrollable="{scrollX:'none',scrollY:'right'}" style="width: 200px; height: 300px;">
        <div ng-repeat="item in combinations.top">
          <div ng-show="$index == combinations.queryTop">
            <div class="row">
              <div class="col-md-12">
                <div>
                  <img src={{item.item.image.sizes.Best.url}}>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-scrollable="{scrollX:'none',scrollY:'right'}" style="width: 200px; height: 400px;">
        <div ng-repeat="item in combinations.bot" ng-init='combinations.queryBot = 0'>
          <div ng-show="$index == combinations.queryBot">
            <div id="comb-bot-field">
              <div>
                <img src={{item.item.image.sizes.Best.url}} >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-init='combinations.queryBot = 0'>
        <h5>
          <a ng-click="last(combinations.bot, 'bot', combinations.queryBot)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <span>
            Bottoms
            {{combinations.queryBot+1}} |
            {{combinations.top.length}}
          </span>
          <a ng-click="next(combinations.bot, 'bot', combinations.queryBot)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </h5>
      </div>

      <div ng-scrollable="{scrollX:'none',scrollY:'right'}" style="width: 200px; height: 400px;">
        <div ng-repeat="item in combinations.foot" ng-init='combinations.queryFoot = 0'>
          <div ng-show="$index == combinations.queryFoot">
            <div id="comb-bot-field">
              <div>
                <img src={{item.item.image.sizes.Best.url}} >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-init='combinations.queryFoot = 0'>
        <h5>
          <a ng-click="last(combinations.foot, 'foot', combinations.queryFoot)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <span>
            Bottoms
            {{combinations.queryFoot+1}} |
            {{combinations.foot.length}}
          </span>
          <a ng-click="next(combinations.foot, 'foot', combinations.queryFoot)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </h5>
      </div>

    </div>
    <div class="col-md-4">
      <div ng-init='combinations.queryFullbody = 0'>
        <h5>
          <a ng-click="last(combinations.fullbody, 'fullbody', combinations.queryFullbody)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <span>
            FullBody
            {{combinations.queryFullbody+1}} |
            {{combinations.fullbody.length}}
          </span>
          <a ng-click="next(combinations.fullbody, 'fullbody', combinations.queryFullbody)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </h5>
      </div>
      <div ng-scrollable="{scrollX:'none',scrollY:'right'}" style="width: 200px; height: 700px;">
        <div ng-repeat="item in combinations.fullbody" ng-init='combinations.queryFullbody = 0'>
          <div ng-show="$index == combinations.queryFullbody">
            <div id="comb-bot-field">
              <div>
                <img src={{item.item.image.sizes.Best.url}} >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <hr>
  <a ng-click='combinations.newComb()'>Save This Combination</a>
  |
  <a ng-click='combinations.savePic()'>Save as picture</a>
  <hr>
  <div id="img-out"></div>
</div>
