<div class="container combinations">
  <div id='body-top'>
    <div ng-repeat="item in combinations.top" ng-init='combinations.queryTop = 0'>
      <div ng-show="$index == combinations.queryTop">
        <h3>
          <a ng-click="lastTop(combinations.top)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <span>
            {{$index+1}} |
            {{combinations.top.length}}
          </span>
          <a ng-click="nextTop(combinations.top)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </h3>
        <div id="comb-top-field">
          <div class='comb-top-imgbox' ng-draggable='dragOptions'>
            <img src={{item.item.image.sizes.IPhone.url}} >
          </div>
          <!-- <div draggable-up-down ng-animate-swap="number" class="comb-top-imgbox">
            <img src={{item.item.image.sizes.IPhone.url}}>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div id='body-bot'>
    <div ng-repeat="item in combinations.bot" ng-init='combinations.queryBot = 0'>
      <div ng-show="$index == combinations.queryBot">
        <div id="comb-bot-field">
          <div class='comb-bot-imgbox' ng-draggable='dragOptions'>
            <img src={{item.item.image.sizes.IPhone.url}} >
          </div>
        </div>
        <h3>
          <a ng-click="lastBot(combinations.bot)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <span>
            {{$index+1}} |
            {{combinations.bot.length}}
          </span>
          <a ng-click="nextBot(combinations.bot)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </h3>
      </div>
    </div>
  </div>







  <a ng-click='combinations.newComb()'>Save This Combination</a>
  <a ng-click>Startover Again</a>
</div>
