<div ng-controller="combinationsController as combinations">
  <div class="container combinations">
    <div class="row">
      <div class="col-md-8" id='combox-wrapper'>
        <h5 ng-show='!ready'>
          Loading...
        </h5>
        <div>
          <div ng-show='ready' ng-repeat="name in ['top', 'bot', 'fullbody', 'foot', 'neck', 'head', 'eye', 'bags']">
            <div class="combox combox-{{name}}-draggable">
              <div ng-repeat="item in (_.where(queryLists, {name: name})[0].data)" class='combox-{{name}}' >
                <div ng-show="$index == _.where(query, {name: name})[0].index">
                  <img src={{item.item.image.sizes.Best.url}} id='combox-{{name}}-img'>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 comb-thumbs">
        <thumbs></thumbs>
      </div>
    </div>
  </div>
</div>

<div>
  <hr>
  <a ng-click='combinations.newComb()'>Save This Combination</a>
  |
  <a ng-click='combinations.savePic()'>Save as picture</a>
  <hr>
  <div id="img-out"></div>
</div>
