<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4" ng-repeat="item in combinations.combs">
      <div class="ideas-box" ng-click='combinations.edit(item); maker=false' ng-mouseenter="showBrands=true" ng-mouseleave="showBrands=false">
        <div class='ideas-favorite-remove-box close' ng-click='combinations.delete(item); maker=false; $event.stopPropagation()' ng-show='showBrands'>
          &times;
        </div>
        <div class="brands-hoverbox" ng-show='showBrands'>
          <span ng-repeat="obj in item.combinations" ng-init='item.thumbUrl = item.thumbUrl + "?" + combinations.timeNow'>
            {{obj.item.brandName}},
          </span>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src={{item.thumbUrl}}>
          </div>
          <div class="col-md-6 padding-left">
            <h3>
              {{item.information.title}}
              <small>
                {{item.information.author}}
              </small>
            </h3>
            <h4>
              {{item.price | currency}}
            </h4>
            <h4>
              <small>
                {{item.date | date:'yyyy-MM-dd'}}
              </small>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
