<div class="row">
  <div class="col-md-12">
    <h3>My Collections</h3>
  </div>
  <div class="col-md-12" ng-repeat="list in queryLists">
    <h5>
      <a ng-click="last(list.name)">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
      <span>
        {{list.name}}
        {{_.where(queryLists, {name: list.name})[0].index +1}} |
        {{list.data.length}}
      </span>
      <a ng-click="next(list.name)">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </h5>
    <div ng-scrollable="{scrollX:'bottom',scrollY:'right'}" style="width: 350px; height: 70px;">
      <span ng-repeat="item in list.data">
        <a ng-click='_.where(queryLists, {name: list.name})[0].index = $index' ng-class="{onshow: $index == _.where(queryLists, {name: list.name})[0].index}">
          <img src={{item.item.image.sizes.Medium.url}}>
        </a>
      </span>
    </div>
  </div>
</div>
