<div class="row">
  <div class="col-md-12" ng-init='thumbShow="collection"'>
    <button type="button" name="button" class='btn btn-default' ng-click="thumbShow='collection'">
      <span ng-class='{"text-muted":thumbShow!="collection"}'>
        Collection
      </span>
    </button>
    <button type="button" name="button" class='btn btn-default' ng-click="thumbShow='preview'">
      <span ng-class='{"text-muted":thumbShow!="preview"}'>
        lists
      </span>
    </button>
    <button type="button" name="button" class='btn btn-default' ng-click="thumbShow='description'">
      <span ng-class='{"text-muted":thumbShow!="description"}'>
        Description
      </span>
    </button>
     <button ng-show='!combinations.saveResult' type="button" name="button" class='btn btn-default disabled'>
       <span ng-class='{"text-muted":thumbShow!="save"}'>
         Saving
       </span>
     </button>
    <button ng-show='combinations.saveResult && ready' type="button" name="button" class='btn btn-default' ng-click="combinations.newComb();">
      <span ng-class='{"text-muted":thumbShow!="save"}'>
        Save
      </span>
    </button>
    <hr>
  </div>
  <div ng-show='thumbShow=="collection"' class='comb-thumbs'>
    <div class="col-md-12" ng-repeat="list in queryLists | orderBy:'order'" ng-init='showname=!list.show'>
      <h5>
        {{list.name}}
        <span>
          <a ng-click="showInBox(list.name);showname=!showname">
            <span ng-show='showname'>show</span>
            <span ng-show='!showname'>hide</span>
          </a>
        </span>
        <span class='pull-right' ng-show='!showname'>
          {{_.where(queryLists, {name: list.name})[0].index +1}} |
          {{list.data.length}}
          <a ng-click="last(list.name)">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          <a ng-click="next(list.name)">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </span>
      </h5>
      <div ng-show='!showname' ng-scrollable="{scrollX:'bottom',scrollY:'right'}" style="width: 350px; height: 70px;">
        <span ng-repeat="item in list.data">
          <a ng-click='select(list.name, $index)' ng-class="{onshow: $index == _.where(queryLists, {name: list.name})[0].index}">
            <img src={{item.item.image.sizes.Medium.url}}>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div ng-show='thumbShow=="description"'>
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Your Name</label>
        <input class='form-control' type="text" ng-keyup='save()' ng-model="author" required="required">
      </div>
      <div class="form-group">
        <label for="">Title</label>
        <input class='form-control' type="text" ng-keyup='save()' ng-model="title" required="required">
      </div>
      <div class="form-group hide">
        <label for="">Event</label>
        <input class='form-control' type="text" ng-keyup='save()' ng-model="eventType">
      </div>
      <div class="form-group hide">
        <label for="">Descrition</label>
        <textarea class='form-control'  type="text" ng-keyup='save()' ng-model="descrition"></textarea>
      </div>
    </div>
  </div>
  <div ng-show='thumbShow=="preview"' class='comb-thumbs-preview'>
    <div class="col-md-12" ng-repeat="query in queryLists | orderBy:'order'" ng-init='showname=!query.name;'>
      <div class="comb-thumbs-preview-box" ng-show='query.show'>
        <div class="row" >
          <div class="col-md-6 text-center">
            <img src={{query.imgUrl}}>
          </div>
          <div class="col-md-6">
            <p ng-show='query.data[query.index].item.brand.name'>
              {{query.data[query.index].item.brand.name}}
            </p>
            <p ng-show='!query.data[query.index].item.brand.name'>
              unbranded
            </p>
            <p>
              {{query.data[query.index].item.price | currency }}
            </p>
            <p>
              <small>
                <a href='{{query.data[query.index].item.clickUrl }}' target="_blank">
                  buy at {{query.data[query.index].item.retailer.name}}
                </a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show='thumbShow=="save"'>
    <div class="col-md-12">
      <h5>{{saveMsg}}</h5>
    </div>
    <div class="col-md-12" ng-show='combinations.saveResult'>

      <a ng-click class="btn"
        socialshare
        socialshare-provider="facebook"
        socialshare-url={{combinations.directlink}}
        socialshare-media={{combinations.linkLarge}}
        socialshare-via=process.env.FACEBOOK_APP_ID
        socialshare-text="{{currentCombination.title}} | Fashion Ideas @ Trand"
        socialshare-hashtags="trand, fashion, brand"
        socialshare-type="feed"
        socialshare-caption="Trand"
        socialshare-description="Yo! I believe this gonna become the ultimate fashion trend."
      >
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        Share on Facebook
      </a>
      <br>
      <button class="btn" ngclipboard data-clipboard-text={{combinations.directlink}}>
        Copy Direct Link
      </button>
      <br>
      <a type='button' class='btn' target="_self" href={{combinations.downloadUrl}} download={{combinations.downloadName}}>
        Download Image
      </a>
      <br>
      <div id="img-out"></div>
    </div>
  </div>
</div>
