$text:11px;

body{
	font-size:$text;
}

.container{
  font-size:$text;
}

@mixin border-radius($angle){
	border-radius:$angle;
	-webkit-border-radius:$angle;
	-moz-border-radius:$angle;
}

#box{
	@include border-radius(10px);
}

.ext{
	font-size:10px;
	width:400px;
}

body{
	@extend .ext;
	height:600px;
}

table.hl {
  margin: 2em 0;
  td.ln {
    text-align: right;
  }
}

li {
  font: {
    family: serif;
    weight: bold;
    size: 1.2em;
  }
}

body{
	text:{
		align:center;
		indent:10px;
		transform:none;
	}
}
