<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home" ng-click="home=true">Trand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{ 'active': isActive('/search')}"><a href="#/search" ng-click="home=false;hideNav()">Search <i class="fa fa-search" aria-hidden="true"></i> </a></li>
        <li ng-show='logged' ng-class="{ 'active': isActive('/ideas')}">
          <a href="#/ideas" ng-click="home=false;hideNav()">
            Ideas
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          </a>
        </li>
        <li ng-show='logged' ng-class="{ 'active': isActive('/combinations')}">
          <a href="#/combinations" ng-click="home=false;hideNav()">
            My Combinations
            <i class="fa fa-child" aria-hidden="true"></i>
          </a>
        </li>
        <li ng-show='logged' ng-class="{ 'active': isActive('/collections')}">
          <a href="#/collections" ng-click="home=false;hideNav()">
            My Collections
            <i class="fa fa-heart" aria-hidden="true"></i>
          </a>
        </li>
        <li ng-show='logged' class='nav-show-list hidden-xs hidden-sm'>
          <span ng-repeat="item in recentCollections">
            <img src={{item.image.sizes.Small.url}}>
          </span>
        </li>
        <li class='visible-xs'><a href='#/user' ng-click="hideNav()">My Profile</a></li>
        <li class='visible-xs' ng-controller="userController as user">
          <a ng-click='user.logout(user.currentUser.email);hideNav()'>Logout</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs" ng-controller="userController as user">
        <li ng-show='!logged'>
          <a href='#/home'>Login</a>
        </li>
        <li class="dropdown" ng-show='logged'>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='#/user'>My Profile</a></li>
            <li><a href='#/combinations'>My Combinations</a></li>
            <li><a href='#/collections'>My Collections</a></li>
            <li role="separator" class="divider"></li>
            <li>
              <a ng-click='user.logout(user.currentUser.email)'>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
